* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}

*::selection {
  color: #fff;
  background: #000;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #f7f7f7;
}

#cursor {
  height: 150px;
  width: 150px;
  background-color: blanchedalmond;
  border-radius: 50%;
  position: fixed;
  /* transform: scale(0); */
}

#page1 {
  min-height: 100vh;
  position: relative;
  width: 100%;
  padding: 0 1vw;
  padding-top: 20vh;
}

#page1 h1 {
  font-size: 15.6vw;
  text-transform: uppercase;
  font-family: futura;
  line-height: 14vw;
  letter-spacing: -7px;
}

#video-container {
  height: 100vh;
  width: 100%;
  background-color: grey;
  margin-top: 1vw;
  position: relative;
}

#video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#video-container #play {
  padding: 2vw 1.2vw;
  background-color: black;
  color: #fff;
  font-size: 1.2vw;
  position: fixed;
  text-transform: uppercase;
  font-family: futura;
  border-radius: 50%;
  opacity: 0;
  scale: 0;
}

#page2 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  padding: 3vw 1vw;
  justify-content: space-between;
}

#page2 .elem {
  height: 100%;
  width: 31%;
  /* background-color: red; */
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page2 .elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  scale: 1.1;
}

#page2 .elem .dets {
  height: 60px;
  border-radius: 50px;
  width: 70%;
  position: absolute;
  z-index: 9;
  background-color: palegoldenrod;
}

#page2 .elem .dets:hover {
  height: 200px;
}

#page3 {
  min-height: 120vh;
  width: 100%;
  position: relative;
  /* background-color: #F7F7F7; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.child {
  height: 55vh;
  width: 40vw;
  /* background-color: red; */
  /* border: 2px solid black; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.child img {
  height: 100%;
}

@media (max-width: 600px) {
  #page1 {
    min-height: 70vh;
    width: 100%;
    padding: 0 3vw;
    padding-top: 25vh;
  }

  #page1 h1 {
    font-size: 16vw;
    text-transform: uppercase;
    font-family: futura;
    line-height: 14vw;
    letter-spacing: -2px;
  }

  #video-container {
    height: 50vh;
    margin-top: 3vw;
  }

  #video-container #play {
    padding: 6vw 5.2vw;
    font-size: 4.2vw;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 1;
    scale: 1;
    transform: translate(-50%, -50%);
  }

  #page2 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 5vw 3vw;
    flex-direction: column;
    justify-content: space-between;
  }

  #page2 .elem {
    height: 100vh;
    width: 100%;
    /* background-color: red; */
    overflow: hidden;
    margin-bottom: 3vw;
  }

  #page2 .elem .dets {
    height: 40px;
    border-radius: 50px;
    width: 70%;
    position: absolute;
    z-index: 9;
    background-color: palegoldenrod;
  }
}
